:host{
    display: block;
    
    max-width: 620px;
    margin: 10px auto;
    color: gray;
}

.clear{
    color: rgb(241, 136, 136);
    border: 1px solid rgb(241, 136, 136); 
    background-color: white;
}