<app-create-content (newSongEvent)="updateList($event)" (newMsg)="createFail($event)"></app-create-content>

Search: <input #search>
<br>
<button (click)="updatePage(search.value)">Search</button>
<h3>{{ confirmMsg }}</h3>

<app-content-card appHoverAffect [border]="'dotted'" class="none" *ngFor="let song of songList | typeFilter; first as isFirst"
  [songDisplay]="song" [class.is-first]="isFirst" [class.found]="search.value === song.title">
</app-content-card>

<app-content-card appHoverAffect [border]="'dotted'" class="electronic" *ngFor="let song of songList | typeFilter:'Electronic'; first as isFirst"
  [songDisplay]="song" [class.is-first]="isFirst" [class.found]="search.value === song.title">
</app-content-card>

<app-content-card appHoverAffect [border]="'dotted'" class="pop" *ngFor="let song of songList | typeFilter:'Pop'; first as isFirst"
  [songDisplay]="song" [class.is-first]="isFirst" [class.found]="search.value === song.title">
</app-content-card>

<app-content-card appHoverAffect [border]="'dotted'" class="jazz" *ngFor="let song of songList | typeFilter:'Jazz'; first as isFirst"
  [songDisplay]="song" [class.is-first]="isFirst" [class.found]="search.value === song.title">
</app-content-card>
