
<!-- Display songs -->
<div *ngIf="songDisplay">
    <header class = "title">{{ songDisplay.title }}</header>
    <h3>{{ songDisplay.creator }}</h3>
    <p>{{ songDisplay.description }}</p>
    <div [ngSwitch]='songDisplay.imgURL'>
        <img *ngSwitchCase="null" (click) = "infoDisplay()" [src] = "'https://carrotstore.com/images/music_default.png'" width = 300 height = 300>
        <img *ngSwitchDefault (click) = "infoDisplay()" [src] = "songDisplay.imgURL" width = 300 height = 300>
    </div>
    <p class = "type" appHoverAffect [decoration]="'underline'" *ngIf="songDisplay?.type">{{ songDisplay.type }}</p>
    <span *ngIf="songDisplay?.tags">
        <p appHoverAffect [weight]="'bold'" [decoration]="'none'" 
        class = "tags" *ngFor="let tag of songDisplay?.tags" >#{{ tag }}</p>
    </span>
</div>
