:host{
    display: block;
    border: 1px solid gray;
    padding: 1em;
    max-width: 620px;
    margin: 10px auto;
}

:host.is-first{
    border: 2px solid black;
}

mat-icon{
    float:left;
}

mat-card{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

mat-card-title{
    font-size: xx-large;
    font-weight: bold;
    font-variant: small-caps;
    border-bottom: 5px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

mat-card-subtitle{
    font-size: large;
}

app-modify-content{
    display: block;
    text-align: center;
}

a{
    display: block;
    text-align: center;
    font-size: large;
}

p{
    font-size: medium;
    display: block;
    text-align: center;
    margin: 10px auto;
}

span{
    font-size: medium;
    display: block;
    margin-top: 10px;
}

.tags{
    mat-chip{
        background-color: white;
        border: 1px solid black;
    }
}

// .tags{
//     background-color: gray;
//     border: 1px solid gray;
//     border-radius: 10px;
//     max-width: 250px;
//     transition: all .2s;
// }

// .tags:hover{
//     background-color: white;
// }

img{
    display: block;
    border: 1px solid gray;
    margin: 20px auto;
    transition: all .2s;
    filter: grayscale(25%);
}

img:hover{
    transform: scale(1.07);
    filter: grayscale(0%);
}

:host.none{
    mat-card{
        color: black;
        background-color: rgb(243, 243, 243);
    }

    mat-card-subtitle{
        color:black;
    }
    
}

:host.electronic{

    mat-card{
        color: darkblue;
        background-color: rgb(217, 217, 248);
    }
    
    border-color: darkblue;

    mat-card-title{
        border-color:darkblue;
    }

    mat-card-subtitle{
        color:darkblue;
    }

    span{
        border-color:darkblue;
    }
    // .tags{
    //     background-color: rgb(135, 135, 190);
    //     border-color: rgb(135, 135, 190);
    // }
    // .tags:hover{
    //     background-color: white;
    // }
}

:host.jazz{

    mat-card{
        color: darkred;
        background-color: rgb(248, 217, 217);
    }

    border-color: darkred;

    mat-card-title{
        border-color:darkred;
    }

    mat-card-subtitle{
        color:darkred;
    }

    span{
        border-color:darkred;
    }
    // .tags{
    //     background-color: rgb(185, 136, 136);
    //     border-color: rgb(185, 136, 136);
    // }
    // .tags:hover{
    //     background-color: white;
    // }
}

:host.pop{

    mat-card{
        color: darkmagenta;
        background-color: rgb(238, 217, 248);
    }

    border-color: darkmagenta;

    mat-card-title{
        border-color:darkmagenta;
    }

    mat-card-subtitle{
        color:darkmagenta;
    }

    span{
        border-color:darkmagenta;
    }
    // .tags{
    //     background-color: rgb(174, 130, 184);
    //     border-color: rgb(174, 130, 184);
    // }
    // .tags:hover{
    //     background-color: white;
    // }
}

:host.found{

    mat-card{
        color: rgb(194, 146, 25);
        background-color: rgb(248, 246, 217);
    }

    border: dotted 3px rgb(194, 146, 25);

    mat-card-title{
        border-color:rgb(194, 146, 25);
    }

    mat-card-subtitle{
        color:rgb(194, 146, 25);
    }

    span{
        border-color:rgb(194, 146, 25);
    }
    // .tags{
    //     background-color: rgb(230, 206, 140);
    //     border-color: rgb(230, 206, 140);
    // }
    // .tags:hover{
    //     background-color: white;
    // }
}

:host.single{
    border: double 5px black;
    box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.5);
    border-radius: 20px;
}
