
<!-- Display songs -->
<mat-card *ngIf="songDisplay">
    <mat-card-content>
        <mat-icon  aria-hidden="false">audiotrack</mat-icon>
        <mat-card-title class = "title">{{ songDisplay.title }}</mat-card-title>
        <mat-card-subtitle>{{ songDisplay.creator }}</mat-card-subtitle>
        <!-- <p>{{ songDisplay.description }}</p> -->
        <div [ngSwitch]='songDisplay.imgURL'>
            <img *ngSwitchCase="null" (click) = "infoDisplay()" [src] = "'https://carrotstore.com/images/music_default.png'" width = 300 height = 300>
            <img *ngSwitchDefault (click) = "infoDisplay()" [src] = "songDisplay.imgURL" width = 300 height = 300>
        </div>
    
        <p class = "type" appHoverAffect [decoration]="'underline'" *ngIf="songDisplay?.type">{{ songDisplay.type }}</p>
        <span *ngIf="songDisplay?.tags">
            <mat-chip-list class="tags" *ngIf="songDisplay.tags">
                <mat-chip appHoverAffect color="primary" *ngFor="let tag of songDisplay.tags">
                  #{{ tag }}
                </mat-chip>
            </mat-chip-list>
        </span>
    </mat-card-content>
    
    <mat-card-actions>
        <app-modify-content buttonText="Update Content" [newSong]="songDisplay"></app-modify-content>
        <br>
        <a [routerLink]="['/list',songDisplay.id]" routerLinkActive="active">More Details</a>
        <br>
    </mat-card-actions>
</mat-card>
