p{
    display: block;
    text-align: center; 
    font-size: xx-large;
    color: rgb(177, 0, 0);
    background-color: rgb(255, 217, 217);
    padding: 3em;
    margin: 20px auto;
}

a{
    display: block;
    text-align: center; 
    font-size: large;
}